{% load static %}
<!DOCTYPE html>
<html>
<head>
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="https://virtual.unipiloto.edu.co/pluginfile.php/1/theme_unipiloto/favicon/1663786604/favicon.ico" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>
        {% block title %} {% endblock %} | SAIU
    </title>
    <link rel = "stylesheet" href="{% static '/main.css' %}">
    <link rel = "stylesheet" href="{% static '/info.css' %}">
</head>
<body>
    {% block content %}
    
    {% endblock %}
</body>
<footer>
    <div class="XD">
        <p>ProyectoSAIU @ Todos los derechos reservados</p>
    </div>
</footer>
</html>