{% extends "base.html" %}
{% block title %} Información {% endblock %}
{% block content %}
    
    <h1>¡Bienvenido, {{user.first_name}} {{user.last_name}}!</h1> 
    
    <p> 
        <select name="SDA">
            <option>SDA-I</option>
            <option>SDA-II</option>
            <option>SDA-III</option>
            <option>SDA-IV</option>
        </select>
    </p>
    <p>Código del SDA #000{{user.id}}</p>
    <!-- image profile -->

    <img src="{{user.url_image}}" alt="">

    <!-- MAPA DE LA UNIVERSIDAD -->
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3978.583388374951!2d-74.81358428571663!3d4.300790196873873!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f299468c09007%3A0x6774ec324bea8ff!2sUniversidad%20Piloto%20de%20Colombia%20-%20Seccional%20del%20Alto%20Magdalena!5e0!3m2!1ses!2sco!4v1667595102555!5m2!1ses!2sco" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></body>
    <!-- MAPA DE LA UNIVERSIDAD -->
{% endblock %}